<template name="layout_footer">
    <footer>
        <div class="container no-padding">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">{{i18n 'dapp.app.copyright'}}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks text-right">
                        <li><a href="{{ pathFor 'admin' }}">{{i18n 'dapp.app.buttons.admin'}}</a>
                        </li>
                        <li><a href="{{ pathFor 'home' }}#feed">{{i18n 'dapp.app.buttons.feed'}}</a>
                        </li>
                        <li><a href="{{ pathFor 'home' }}#services">{{i18n 'dapp.app.buttons.services'}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>